%h2 Visitors

%table.visitors
  %tr
    %th User ID
  - @visitors.each_with_index do |visitor, i|
    %tr.visitor{"data-id" => visitor.id, class: (i % 2 == 0 ? "odd" : "even")}
      %td= visitor
    %tr.visitor-loads{id: "visitor-#{visitor.id}-loads"}
      %td= render 'loads/list', loads: visitor.loads