<h1>{{site_name}}</h1>

<div class="hidden">
  <!-- more to come -->
</div>
<div class="chart_header">
  <!-- more to come -->
</div>
<div class="row">
  <div class="span12">
    <div id="chart_container"></div>
  </div>
</div>

{{outlet "bottom_tab"}}
{{outlet}}