<h1>{{site_name}}</h1>

<div class="hidden">
  <!-- more to come -->
</div>
<div class="chart_header">
  <!-- more to come -->
</div>
<div class="row">
  <div class="span12">
    <div id="chart_container"></div>
  </div>
</div>

<div class="info-header">
  <ul class="nav nav-tabs">
    <li>
      {{#linkTo "visitors" 1}}Visitors{{/linkTo}}
    </li>
    <li>
      {{#linkTo "loads" 1}}Loads{{/linkTo}}
    </li>
  </ul>
  {{outlet "pagination"}}
</div>

<!-- loads/index.hbs -->
{{outlet "bottomcontent"}}
{{outlet}}