<div class="chart-header">
  <div class="prev-container">
    <a href="#" class="btn"><i class="icon-chevron-left"></i></a>
  </div>
  <div class="info-box">
    Showing 4 hours in 60 bars. onetwo: {{onetwo}}
  </div>
  <div class="next-container">
    <a href="#" class="btn"><i class="icon-chevron-right"></i></a>
  </div>
  <div class="timeframe-selection-buttons btn-group">
    <a class="btn" data-toggle="button" id="daterange-calendar-button" data-original-title="">
      <i class="icon-calendar"></i>
    </a>
    <a class="btn" data-toggle="button" id="daterange-select-button" data-original-title="">
      <i class="icon-time"></i>
    </a>
  </div>
  <!-- more to come -->
</div>
<div class="row">
  <div class="span12">
    <div id="chart_container"></div>
  </div>
</div>
{{outlet}}