#chart_container {
  margin-top: 40px;
  margin-bottom: 30px;
}

#chart_container .explain form, #chart_container .explain select {
  display: inline;
}

svg.chart {
  margin-top: 40px;
}
svg.chart text {
  font-size: 10px;
  font-family: sans-serif;
}
svg.chart rect {
  stroke: white;
  fill: steelblue;
}
svg.chart .values {
  fill: #fff;
}

svg.chart .rule {
  fill: #7C7C7C;
}