.info-box {
  font-size: 0.9em;
}
.tooltip-inner table td {
  text-align: left;
  vertical-align: top;
}
.info-header {
  margin-top: 20px;
  .makeRow();
  .nav {
    .makeColumn(4);
  }
  .nav-tabs {
    margin-bottom: 0;
  }
  .pagination {
    .makeColumn(8);
    .pagination-right;
    .pagination-mini;
    margin: 10px 0 0 0;
    border-bottom: 1px solid #ddd; 
    padding-left: 20px;
    ul {
      margin-left: 6px;
      cursor: pointer;
    }
  }
}
.loads {
  .makeRow();
  .loads-col {
    .makeColumn(4);
    padding: 0;
    padding-left: 20px;
    margin-left: 0;
    border-bottom: 1px solid #ddd;
    
  }
  div.loads-col-first {
    padding-left: 20px;

  }
  .load {
    a {
      color: #1A1A1A;
      display: block;
      font-size: 12px;
      line-height: 16px;
      padding: 5px;
      
      .uid {
        display: block;
        background: #2E6ABC;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        margin: 4px;
        float: left;
        margin-right: 10px;
      }
      .time {
        color: #9D9D9D;
      }
    }
    
    border-bottom: 1px solid #ddd;
    &:last-child { border-bottom: 0; }
    
    &:hover {
      cursor: pointer;
      background: #F9F9F9;
    }
    
  }
}
.info-header .nav-tabs .active a, 
.loads .loads-col {
  background: #F4F4F4;
}