//= require jquery.ui.core
//= require jquery.ui.theme
//= require jquery.ui.selectable
//= require datepicker_override
//= require daterange_selector.scss


.edit-domain input[type=checkbox] {
  display: none;
}
.sites {
  width: 100%;
}

.sites tr:first-child {
  background: #DADADA;
}

.sites td {
  text-align: left;
}

.sites .domains ul, .sites .domains li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#tracking_code {
  border: 1px solid #ccc;
  background: #F6F6F6;
  white-space: pre;
  font-size: 8pt;
  font-family: monaco, courier,monospace;
  padding: 5px;
}

#chart_container select {
  width: 110px;
}

#daterange-select-dropdowns-container {
  display: none;
}
#daterange-select-dropdowns {
  width: 400px;
}
#daterange-select-dropdowns select {
  font-size: 12px;
  line-height: 18px;
  height: 18px;
}
#daterange-select-dropdowns #graph_from_3i,
#daterange-select-dropdowns #graph_from_4i,
#daterange-select-dropdowns #graph_from_5i,
#daterange-select-dropdowns #graph_to_3i,
#daterange-select-dropdowns #graph_to_4i,
#daterange-select-dropdowns #graph_to_5i {
  width: 50px;
}
#daterange-select-dropdowns #graph_from_1i,
#daterange-select-dropdowns #graph_to_1i, {
  width: 60px;
}
#daterange-select-dropdowns #graph_from_2i,
#daterange-select-dropdowns #graph_to_2i, {
  width: 60px;
}

.right {
  text-align: right;
}

.picker-container {
  display: none;
}
.popover {
  width: auto;
  height: auto;
}
.popover h3 {
  display: none;
}
#picker:after { clear:both; }
#picker:before,
#picker:after {
  content:"";
  display: table;
}
#picker {
  width: 524px;
  height: 161px;
}
#picker a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#dp_prev {
  position: absolute;
  left: 24px;
  top: 10px;
}
#dp_next {
  position: absolute;
  right: 24px;
  top: 10px;
}
.nav-tabs {
  margin-bottom: 0;
}
.tab-content {
  padding-top: 18px;
  border-bottom: 1px solid #ddd;
}
.tabbable .active a, .tab-content {
  background: #F4F4F4;
}
.pagination {
  margin: 0;
}