//= require jquery.ui.core
//= require jquery.ui.theme
//= require jquery.ui.datepicker
//= require jquery.ui.selectable
//= require daterange_selector.scss

.picker:after { clear:both; }
.picker:before,
.picker:after {
  content:"";
  display: table;
}
.hasDatepicker {
    float: left;
}
.picker {
  margin-bottom: 20px;
}

.edit-domain input[type=checkbox] {
  display: none;
}
.sites {
  width: 100%;
}

.sites tr:first-child {
  background: #DADADA;
}

.sites td {
  text-align: left;
}

.sites .domains ul, .sites .domains li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#tracking_code {
  border: 1px solid #ccc;
  background: #F6F6F6;
  white-space: pre;
  font-size: 8pt;
  font-family: monaco, courier,monospace;
  padding: 5px;
}