table.visitors {
  width: 100%;
}

table.visitors tr.visitor td {
  font-size: 1.1em;
  padding-left: 20px;
}

table.visitors tr td {
  border-top: 1px solid #ccc;
}

tr.odd td {
  background: #ccc;
}

tr.even td {
  background: inherit;
}