.pagination
  / %ul
  /   %li{"data-page-nr" => 10}
  /     %a.loads-page «
  /   %li
  /     %a 1
  /   %li
  /     %a 2
  /   %li
  /     %a 3
  / 
  / %ul
  /   %li
  /     %a 10
  /   %li
  /     %a 11
  /   %li
  /     %a 12
  / 
  / %ul
  /   %li
  /     %a 24
  /   %li
  /     %a 25
  /   %li
  /     %a 26
  /   %li.next_pg
  /     %a »
