- if pagination.nr_pages > 1
  .pagination
    %ul
      = render "page_link", name: "«", page: pagination.prev
      
      - pagination.windows.each do |window|
        - if window.separator
          %li.disabled
            %a ...
        - window.pages.each do |page|
          = render "page_link", name: page.nr, page: page
      
      = render "page_link", name: "»", page: pagination.next