%h1 Your Sites

%table.sites
  %tr
    %th Name
    %th Domains
    %th Last Page Load
    %th

  - @sites.each do |site|
    %tr
      %td.name= link_to site.name, site_path(site)
      %td.domains
        %ul
          - site.domains.each do |d|
            %li= d
      %td
      %td= link_to 'Settings', edit_site_path(site)
%br

= link_to 'Add a website to track', new_site_path
