{{#each load_cols}}
  <div class="loads-col">
    {{#each this}}
      <!-- each of these will become a view later -->
      <a rel="tooltip" title="we have some html here as well">
        <span class="uid"></span>
        <span class="time">{{time}}</span>
        <span class="top">{{top}}</span>
      </a>
    {{/each}}
  </div>
{{/each}}