<div>
  pageNr: {{pageNr}}
  <br/>
  nrPages: {{nrPages}}
</div>
<div class="info-header">
  <ul class="nav nav-tabs">
    <li>
      {{#linkTo "visitors"}}Visitors{{/linkTo}}
    </li>
    <li class="active">
      {{#linkTo "loads" pageNr}}Loads{{/linkTo}}
    </li>
  </ul>
  
  <div class="pagination">
    <ul>
      {{#each pages}}
      <li>{{#linkTo "loads" nr}}{{nr}}{{/linkTo}}</li>
      {{/each}}
    </ul>
  </div>
</div>

{{#each controller}} {{path}} {{/each}}