<div class="info-header">
  <ul class="nav nav-tabs">
    <li>
      {{#linkTo "visitors"}}Visitors{{/linkTo}}
    </li>
    <li class="active">
      {{#linkTo "loads" model.pageNr}}Loads{{/linkTo}}
    </li>
  </ul>
  
  {{render "pagination_windows" windows}}
</div>

<div class="loads">
  {{#each loadColsWithIndex}}
    <div {{bindAttr class=":loads-col first:loads-col-first"}}>
      {{#each this.col}}
        {{view Statt.LoadView}}
      {{/each}}
    </div>
  {{/each}}
</div>
