<div class="info-header">
  <ul class="nav nav-tabs">
    <li>
      {{#linkTo "visitors"}}Visitors{{/linkTo}}
    </li>
    <li class="active">
      {{#linkTo "loads" pageNr}}Loads{{/linkTo}}
    </li>
  </ul>
  
  <div class="pagination">
    <ul>
      {{#each pages}}
      <li>{{#linkTo "loads" nr}}{{nr}}{{/linkTo}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="loads">
  {{#each loadColsWithIndex}}
    <div {{bindAttr class=":loads-col first:loads-col-first"}}>
      {{#each this.col}}
        {{view Statt.LoadView}}
      {{/each}}
    </div>
  {{/each}}
</div>
